<h1>Edit Post</h1>
<%# form_for is a helper %>
<%# this will submit to our create method %>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
    <!-- Check for errors -->
	<% if @post.errors.any? %>
	    <% @post.errors.full_messages.each do |msg| %>
	    	<!-- Show errors -->
	      	<div class="alert alert-danger"><%= msg %></div>
	    <% end %>
  	<% end %>
<p>
<%# the f comes from line 3 %>
<%# label will be what the p tag renders %>
    <%= f.label :title %><br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.label :body %><br>
    <%= f.text_area( :body, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
</p>
<% end %>